/*
  Matteo B. Venice. IT
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:100,200);

::-moz-selection {
	background: rgba(216, 139, 151,0.35);
	color: #1e1e1e;
}

::selection { 
	background: rgba(216, 139, 151,0.35);
	color: #1e1e1e; 
}

html, body, div, span, h1, h2, h3, h4, h5, h6, 
p, a, em, font, img, small, ol, ul, li, form, 
article, figcaption, figure, header, nav, section {  
	margin: 0; 
	padding: 0; 
}

img {
	border: none;
}

a {
	text-decoration: none;
	outline: none;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	background: url(http://matteobertoldo.altervista.org/codepen/safari_hover_effect/images/hero_yosemite.jpg) no-repeat center;
	background-size: cover;
	color: #fff;
}

h1 {
	position: relative;
	top: 10%;
	font-size: 2.85em;
	font-weight: 200;
	text-align: center;
	text-transform: uppercase;
	opacity: 0;
}

span {
	display: block;
	position: relative;
	top: 23%;
	margin: 0 auto;
	height: 2px;
	width: 0px;
	background-color: #fff;
}

p {
	position: relative;
	top: 28%;
	font-size: 1.25em;
	font-weight: normal;
	text-align: center;
	margin: 5px;
	display: none;
}

#hover-me {
	position: relative;
	top: 50%;
	margin: -80px auto -80px auto;
	width: 160px;
	height: 160px;
	border: 1px solid rgba(255,255,255,0.4);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	font-size: 1em;
	text-align: center;
	line-height: 160px;
	display: none;
}

#base {
	position: absolute;
	top: 0;
	left: 0;
	width: 160px;
	height: 160px;
	background: -moz-linear-gradient(top, #fefdfe 0%, #fefdfe 25%, #bec0c2 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefdfe), color-stop(25%,#fefdfe), color-stop(100%,#bec0c2));
	background: -webkit-linear-gradient(top, #fefdfe 0%,#fefdfe 25%,#bec0c2 100%); 
	background: -ms-linear-gradient(top, #fefdfe 0%,#fefdfe 25%,#bec0c2 100%); 
	background: linear-gradient(to bottom, #fefdfe 0%,#fefdfe 25%,#bec0c2 100%); 
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0px 3px 6px #1e1e1e;
	-moz-box-shadow: 0px 3px 6px #1e1e1e;
	box-shadow: 0px 3px 6px #1e1e1e;
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
  -webkit-transition: all 1s cubic-bezier(.85,.29,.02,.89);
	-moz-transition: all 1s cubic-bezier(.85,.29,.02,.89);
	transition: all 1s cubic-bezier(.85,.29,.02,.89);
	opacity: 0;
}

#base-blu {
	position: absolute;
	top: 8px;
	left: 8px;
	width: 144px;
	height: 144px;
	background: -moz-radial-gradient(center, ellipse cover, rgb(82,189,230) 8%, rgb(9,83,206) 100%); 
	background: -webkit-gradient(radial, center center, 8px, center center, 100%, color-stop(8%,rgb(82,189,230)), color-stop(100%,rgb(9,83,206))); 
	background: -webkit-radial-gradient(center, ellipse cover, rgb(82,189,230) 8%,rgb(9,83,206) 100%); 
	background: -ms-radial-gradient(center, ellipse cover, rgb(82,189,230) 8%,rgb(9,83,206) 100%); 
	background: radial-gradient(ellipse at center, rgb(82,189,230) 8%,rgb(9,83,206) 100%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: inset 6px -10px 9px rgba(9,83,206,0.55);
	-moz-box-shadow: inset 6px -10px 9px rgba(9,83,206,0.55);
	box-shadow: inset 6px -10px 9px rgba(9,83,206,0.55);
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
  -webkit-transition: all 1s cubic-bezier(.85,.29,.02,.89);
	-moz-transition: all 1s cubic-bezier(.85,.29,.02,.89);
	transition: all 1s cubic-bezier(.85,.29,.02,.89);
	opacity: 0;
}

#base-blu #marks {
	position: absolute;
	top: 2px;
	left: 2px;
	-webkit-transform: scale(0.2);
	-moz-transform: scale(0.2);
	transform: scale(0.2);
  -webkit-transition: all 1s cubic-bezier(.85,.29,.02,.89);
	-moz-transition: all 1s cubic-bezier(.85,.29,.02,.89);
	transition: all 1s cubic-bezier(.85,.29,.02,.89);
}

#base-blu #quarter {
	position: absolute;
	top: 21px;
	left: 21px;
  -webkit-transition: opacity 1.4s ease-in;
	-moz-transition: opacity 1.4s ease-in;
	transition: opacity 1.4s ease-in;
	opacity: 0;
	z-index: 10;
}

@-webkit-keyframes quarter {
	0% {
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);	
}
	25% {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
    50% {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);	
}
	75% {
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}   
	100% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

}

@-moz-keyframes quarter {
	0% {
	-moz-transform: rotate(5deg);
	transform: rotate(5deg);	
}
	25% {
	-moz-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
  50% {
	-moz-transform: rotate(3deg);
	transform: rotate(3deg);	
}
	75% {
	-moz-transform: rotate(-3deg);
	transform: rotate(-3deg);
}   
	100% {
	-moz-transform: rotate(0deg);
	transform: rotate(0deg);
}

}

@keyframes quarter {
	0% {
	-webkit-transform: rotate(5deg);
	transform: rotate(5deg);	
}
	25% {
	-webkit-transform: rotate(-5deg);
	transform: rotate(-5deg);
}
    50% {
	-webkit-transform: rotate(3deg);
	transform: rotate(3deg);	
}
	75% {
	-webkit-transform: rotate(-3deg);
	transform: rotate(-3deg);
}   
	100% {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}

}

#base-blu a {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 144px;
	height: 144px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	z-index: 100;
}

#hover-me:hover #base,
#hover-me:hover #base-blu {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

#hover-me:hover #marks {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

#hover-me:hover #quarter {
	opacity: 1;
  -webkit-animation: quarter 2s ease-in-out;
	-moz-animation: quarter 2s ease-in-out;
	animation: quarter 2s ease-in-out;
	-webkit-animation-delay: .9s;
	animation-delay: .9s;
}

#hover-me:hover #base-blu {
	-webkit-transition-delay: .25s;
	transition-delay: .25s;
}

#hover-me:hover #marks {
	-webkit-transition-delay: .35s;
	transition-delay: .35s;
}

#hover-me:hover #quarter {
	-webkit-transition-delay: .65s;
	transition-delay: .65s;
}

/*
*************************************
          Copyright 2014
             benague
*************************************
*/

/* Google Fonts */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

/* set global font to Open Sans */
body {
  font-family: 'Open Sans', 'sans-serif';
  background-image: url(http://benague.ca/files/pw_pattern.png);
}

/* header */
h1 {
  color: #55acee;
  text-align: center;
}

/* header/copyright link */
.link {
  text-decoration: none;
  color: #55acee;
  border-bottom: 2px dotted #55acee;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
}

.link:hover {
  color: #2ecc71;
  border-bottom: 2px dotted #2ecc71;
}

/* button div */
#buttons {
  padding-top: 50px;
  text-align: center;
}

/* start da css for da buttons */
.btn {
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 22px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.blue {
  background-color: #55acee;
  box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
  background-color: #6FC6FF;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.purple {
  background-color: #9b59b6;
  box-shadow: 0px 5px 0px 0px #82409D;
}

.purple:hover {
  background-color: #B573D0;
}

.orange {
  background-color: #e67e22;
  box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
  background-color: #FF983C;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 5px 0px 0px #D8AB00;
}

.yellow:hover {
  background-color: #FFDE29;
}

/* copyright stuffs.. */
p {
  text-align: center;
  color: #55acee;
  padding-top: 20px;
}
